@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@font-face {
    font-family: 'CustomFont';
    src: url('../assets/fonts/custom-font.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

body {
    font-family: 'Inter', system-ui, sans-serif;
    color: #5a5858;
    line-height: 1.6;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #5a5858;
    transition: color 0.3s;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
    border-bottom: 1px solid #eee;
}

.logo {
    display: block;
    font-size: 24px;
    font-weight: bold;
}

.logo__img{
    max-height: 40px;
}

.page-title {
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    color: #5a5858;
    font-weight: normal;
    padding: 10px;
    width: 100%; 
}


.main-nav__list {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 2rem;
    padding: 0;
    margin: 0;
}

.main-nav__link {
    text-transform: uppercase;
    font-size: 14px;
    padding: 5px;
    position: relative;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.main-nav__link:hover {
    color: #ffffff;
    background-color:#B0886F;
}

.main-nav__link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #B0886F;
    transition: width 0.3s ease-in-out;
}


.product-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s, box-shadow 0.4s;
    text-align: center;
    animation: fadeInSlideUp 0.8s forwards;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
}


.product-card__img {
    max-width: 100%;
    height: auto;
    margin: 15px 0;
}

.product-card__price {
    font-size: 24px;
    font-weight: bold;
    color: #c0863b;
    margin-bottom: 5px;
}

.product-card__title {
    font-size: 24px;
    margin-bottom: 5px;
}

.product-card__description {
    color: #0d0d0d;
    font-size: 16px;
    min-height: 40px; 
    margin-bottom: 15px;
}

.product-card__actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.button {
    padding: 12px 25px;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid transparent;
    transition: all 0.3s;
}

.button--buy {
    background-color: #B0886F;
    color: #ffffff;
}

.button--buy:hover {
    background-color: #9C785A; 
    transform: translateY(-4px); 
}


.button--details:hover {
    background-color: #9C785A; 
    transform: translateY(-4px); 
}

.button--details {
    background-color: transparent;
    border-color: #B0886F;
    color: #B0886F;
}

.button--details:hover {
    background-color: #B0886F;
    color: #ffffff;
}


.feature-list {
    display: flex;
    gap: 30px;
}

.feature-item {
    flex-basis: 25%;
    padding: 20px;
    animation: fadeInSlideUp 0.8s forwards;
}

.feature-item__img {
    width: 60px;
    height: auto;
    margin-bottom: 15px;
}

.feature-item__title {
    font-size: 20px;
    margin-bottom: 10px;
    color: #B0886F;
}

.feature-item__description {
    font-size: 16px;
}

.section {
    padding: 80px;
    max-width: 1400px;
    margin: auto;
    text-align: center;
}

.section__header {
    font-size: 24px;
    margin-bottom: 50px;
}

.section__subtitle {
    color: #B0886F;
    font-size: 24px;
    margin-bottom: 5px;
}

.section__title {
    font-size: 36px;;
}

.section--combo, .section--giftset {
    background-color:  #F8F4F0;
}

.product-choice {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    
}

.giftset-card {
    display: flex;
    align-items: center;
    text-align: left;
    max-width: 1000px;
    margin: auto;
    padding: 30px;
    border: 1px solid #B0886F;
    border-radius: 8px;
    transition: transform 0.4s, box-shadow 0.4s;
    background-color: #ffffff;
    border-radius: 8px;
    animation: fadeInSlideUp 0.8s forwards;
}

.giftset-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
}

.giftset-card__img {
    width: 40%;
}


.giftset-card__price{
    font-size: 32px;
    font-weight: bold;
    color: #c0863b;
    margin-bottom: 5px;
}

.giftset-card__title {
    font-size: 28px;
    font-weight: 700;
    color: #5a5858;
    margin-bottom: 20px;
}

.giftset-card__description {
    display: block;
    gap: 50px;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
    color: #0d0d0d;
    
}

.giftset-card__info-list{
    display: flex;
    gap: 50px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.giftset-card__info-item{
    display: flex;
    gap: 10px;
    font-size: 16px;
    color: #0d0d0d;
}


.giftset-card__actions {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.combo-choice {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    transition: transform 0.3s ease;
}



.footer {
    text-align: center;
    padding: 30px 0;
    background-color: #5a5858;
    color: #ffffff;
    font-size: 14px;
}



@keyframes fadeInSlideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1199px) {
    .section {
        padding: 60px 3%;
    }

    .section__title {
        font-size: 32px;
    }

    .main-nav__list {
        gap: 1.5rem;
    }
    .product-choice,
    .combo-choice {
        gap: 20px;
    }
}

@media (max-width: 767px) {

    .section {
        padding: 40px 15px;
    }
    .section__title {
        font-size: 28px;
    }
    .main-nav__list {
        gap: 0.5rem;
        padding: 0 10px;
        justify-content: space-between;
    }
    
    .feature-item {
        flex-basis: 100%; 
    }

    .product-choice,
    .combo-choice {
        grid-template-columns: repeat(2, 1fr); 
        gap: 15px;
    }
    
    .button {
        padding: 10px 15px;
        font-size: 13px;
    }
    .product-card__actions {
        flex-direction: column;
        gap: 5px;
    }
}

@media (max-width: 575px) {
    .section {
        padding: 40px 15px;
    }
    .product-choice,
    .combo-choice {
        grid-template-columns: 1fr;
    }

    .feature-list {
        flex-direction: column;
        align-items: center;
    }

    .feature-item {
        width: 100%;
        max-width: 400px;
        margin: 0 auto 20px; 
    }
    
    .product-card {
        text-align: center;
    }

    .main-nav__list {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .giftset-card__img {
        width: 50%;
    }
    .giftset-card__info-list {
        flex-direction: column;
        gap: 15px;
    }
    .footer {
        text-align: center;
        padding: 30px;

    }
}

@media (max-width: 399px) {
    
    .section {
        padding: 40px 15px;
        max-width: 400px;
        width:100%

    }


    .header {
        font-size: 18px;
        width: 100%;

    }
    .page-title {
        font-size: 16px;
    }
    .giftset-card {
        width: 1fr;
    }

    .feature-list {
        flex-direction: column;
        align-items: center;
    }

    .feature-item {
        max-width: 400px;
        width: 100%;
    }

    .section__header {
        font-size: 16px;
        max-width: 400px;
        width: 100%;
        text-align: center;
        
    }

    .main-nav__list {
        flex-direction: column;
        align-items: center;
    }

    .giftset-card__description {
        font-size: 13px;
    }
    .giftset-card__img {
        width: 45%;
    }
    .giftset-card__info-list {
        flex-direction: column;
        gap: 15px;
    }
    .giftset-card__info-item {
        font-size: 13px;
    }

    .giftset-card__title {
        font-size: 18px;
        text-align: center;
    }
    .giftset-card__price {
        font-size: 22px;
    }
    .product-choice,
    .combo-choice {
        gap: 20px;
        grid-template-columns: 1fr;
    }
    .giftset-card__price {
        text-align: center;
    }

    .product-card {
        width: 1fr;
    }
    .footer {
        width: 92%;
    }
}
